{% extends 'global/base.html' %}
{% load static %}

{% block title %} Perfil |{% endblock title %}

{% block content %}
 <div class="main-content center container">
    <div class="profile-content">
        <img id="profile-img" src="{%static 'global/img/user.png'%}" alt="user">
        <br>
        <h1>{{profile.author.username}}</h1>
        <br><br><hr><br>
        <div class="bio">
        <h2>Biografia:</h2>
        <br>
            <p>{{profile.bio}}</p>
        <br>
        </div>
        <br>
    </div>
 </div>
{% endblock content %}