.main-content {
    padding-top: 0;
    margin: 15px;
    justify-items: center;
}

.main-content-list {
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 30px 30px 30px 30px
}

.recipe-list-item {
    flex: 1 1 150px;
    margin: 5px;
}

.main-content-detail  .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;
  }
  
  .main-content-detail .recipe-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .preparation-steps {
    padding: 3rem;
  }

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre {
    margin: 2rem 0;
}
  
.preparation-steps ol,
.preparation-steps ul {
    margin: 2rem;
    padding: 0 2rem;
}
  