.search-container {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    align-items: center;
}

.search-form {
    border: 2px solid var(--color-secondary);
    max-width: 64rem;
    outline: none;
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;
    transition: all 300ms ease-in-out;
    align-items: center;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    text-align: justify;
    font-size: 1.5rem;
    align-items: center;

}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-form:focus-within {
    border-color: var(--color-header);
    background: var(--color-white);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, .5);
    margin-top: +10px
}

.search-form:focus-within .search-button {
    border-color: var(--color-logo);
}

.search-button:focus {
    outline: var(--color-logo);
    background: 2px solid #fefefe10;
}

.center-no-recipes {
    text-align: center;
}

.main-content-list .center-no-recipes img{
    width: 24%;
}

@media (min-width: 200px) and (max-width: 800px) {
    .main-content-list .center-no-recipes img{
        width: 40%;
    }
}

.center-no-recipes h2{
    font-size: 24px;
}